<style>
  label {
    color:#17a2b8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .modal-title {
    color: #17a2b8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
  }
</style>

<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header" >
        <h2 class="modal-title">{{ title }}</h2>
        <button type="button" class="close" data-dismiss="modal" (click)="fecharModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="cadastroForm">
          <div class="form-group" style="margin-bottom: 10px;">
            <label>Número</label><br>
            <input type="text" formControlName="numero" class="form-control" id="numero" required="true" placeholder="Digite o numero da ordem de serviço"/>
          </div>

          <div class="form-group" style="margin-bottom: 10px;">
            <label for="titulo">Título</label><br>
            <input type="text" formControlName="titulo" class="form-control" id="titulo" required="true" placeholder="Digite o título do serviço"/>
          </div>
          
          <div class="form-group" style="margin-bottom: 10px;">
            <label for="cnpjCliente">CNPJ do Cliente</label><br>
            <input type="text" formControlName="cnpjCliente" class="form-control" id="cnpjCliente" required="true" placeholder="Digite o CNPJ do cliente"/>
          </div>
          
          <div class="form-group" style="margin-bottom: 10px;">
            <label for="nomeCliente">Nome do Cliente</label><br>
            <input type="text" formControlName="nomeCliente" class="form-control" id="nomeCliente" required="true" placeholder="Digite o nome do cliente"/>
          </div>
          
          <div class="form-group" style="margin-bottom: 10px;">
            <label for="cpfPrestadorServico">CPF do Prestador de Serviço</label><br>
            <input type="text" formControlName="cpfPrestadorServico" class="form-control" id="cpfPrestadorServico" required="true" placeholder="Digite o CPF do prestador de serviço"/>
          </div>
          
          <div class="form-group" style="margin-bottom: 10px;">
            <label for="nomePrestadorServico">Nome do Prestador de Serviço</label><br>
            <input type="text" formControlName="nomePrestadorServico" class="form-control" id="nomePrestadorServico" required="true" placeholder="Digite o nome do prestador de serviço"/>
          </div>
          
          <div class="form-group" style="margin-bottom: 10px;">
            <label for="valor">Valor</label><br>
            <input type="number" formControlName="valor" class="form-control" id="valor" min="0.01" step="0.01" required="true"  placeholder="R$ 0,00"/>
          </div>
          
          <div class="form-group" style="margin-bottom: 10px;">
            <label>Data de Execução</label><br>
            <input type="date" formControlName="dataExecucao" id="dataExecucao" class="form-control" required="true"/>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" id="salvar-btn" (click)="salvarFormulario();" [disabled]="cadastroForm.invalid">Salvar</button>
      </div>

    </div>
  </div>