<header class="toolbar" style="display:inline-flex;">
  <h1 style="position: relative; width: 95%;">XPTO Orçamentos - Ordens de Serviço</h1>
  <button class="btn btn-light" style="position: relative; max-width: 10%; height:70%; margin-top: 7px; margin-right: 20px;" type="button" data-toggle="modal" data-target="#cadastro-modal" data-show="true" (click)="cadastrarOs()" title="Cadastrar nova OS">Nova</button>
</header>

<div class="content" role="main">
  <div class="form">
    <table class="table table-striped table-hover" style="overflow-y: scroll;">
      <thead class="thead-dark">
        <tr>
          <th class="text-center" scope="col">Num. da OS</th>
          <th class="text-center" scope="col">Título</th>
          <th class="text-center" scope="col">Cliente</th>
          <th class="text-center" scope="col">Valor</th>
          <th class="text-center" scope="col">Data de Execução</th>
          <th class="text-center" scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordem of ordensServico">
          <td class="text-center">{{ ordem.numero }}</td>
          <td class="text-center">{{ ordem.titulo }}</td>
          <td class="text-center">{{ ordem.nomeCliente }}</td>
          <td class="text-center">{{ ordem.valor | currency: 'BRL' }}</td>
          <td class="text-center">{{ ordem.dataExecucao | date:"dd/MM/yy" }}</td>
          <td id="botaoOpcoes" class="text-center">
            <button class="btn btn-info btn-lg fa fa-pencil" type="button" (click)="editarOs(ordem)" title="Editar"></button>
            <button class="btn btn-info btn-lg fa fa-trash" type="button" (click)="excluirOs(ordem)" title="Excluir"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal fade" id="cadastro-modal" *ngIf="edicao || cadastro">
  <app-cadastro [ordemSelecionada]="ordemSelecionada" [cadastro]="cadastro" [edicao]="edicao" [title]="title" (onAtualizarTela)="atualizarTela($event)" (onFecharModal)="fecharModal($event)"></app-cadastro>
</div>
<router-outlet></router-outlet>
