.toolbar {
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 50px;
    background-color:#17a2b8;
}

.toolbar h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size:larger;
    color: white;
    margin: 0px;
    padding: 12px;
    text-align: center;
}

#botaoOpcoes .btn {
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 100%;
    align-content:space-between;
}
